In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("delhi.csv")

In [3]:
df

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,moonrise,moonset,...,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
0,2009-01-01 00:00:00,22,9,0.0,8.7,4,1,31,10:11 AM,09:57 PM,...,14,19,0,50,0.0,1016,10,10,331,12
1,2009-01-01 01:00:00,22,9,0.0,8.7,4,1,31,10:11 AM,09:57 PM,...,13,21,0,51,0.0,1016,10,10,329,13
2,2009-01-01 02:00:00,22,9,0.0,8.7,4,1,31,10:11 AM,09:57 PM,...,12,22,0,52,0.0,1016,9,10,327,13
3,2009-01-01 03:00:00,22,9,0.0,8.7,4,1,31,10:11 AM,09:57 PM,...,11,23,0,54,0.0,1016,9,10,326,13
4,2009-01-01 04:00:00,22,9,0.0,8.7,4,1,31,10:11 AM,09:57 PM,...,11,21,2,52,0.0,1016,9,10,318,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96427,2020-01-01 19:00:00,19,10,0.0,8.7,5,1,37,11:28 AM,11:12 PM,...,17,11,10,39,0.0,1020,17,10,96,9
96428,2020-01-01 20:00:00,19,10,0.0,8.7,5,1,37,11:28 AM,11:12 PM,...,16,11,9,40,0.0,1021,16,10,97,8
96429,2020-01-01 21:00:00,19,10,0.0,8.7,5,1,37,11:28 AM,11:12 PM,...,16,12,8,41,0.0,1021,16,10,98,8
96430,2020-01-01 22:00:00,19,10,0.0,8.7,5,1,37,11:28 AM,11:12 PM,...,15,11,8,42,0.0,1021,15,10,96,8
96431,2020-01-01 23:00:00,19,10,0.0,8.7,5,1,37,11:28 AM,11:12 PM,...,15,10,7,42,0.0,1022,15,10,94,8

In [4]:
df.head()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,moonrise,moonset,...,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
0,2009-01-01 00:00:00,22,9,0.0,8.7,4,1,31,10:11 AM,09:57 PM,...,14,19,0,50,0.0,1016,10,10,331,12
1,2009-01-01 01:00:00,22,9,0.0,8.7,4,1,31,10:11 AM,09:57 PM,...,13,21,0,51,0.0,1016,10,10,329,13
2,2009-01-01 02:00:00,22,9,0.0,8.7,4,1,31,10:11 AM,09:57 PM,...,12,22,0,52,0.0,1016,9,10,327,13
3,2009-01-01 03:00:00,22,9,0.0,8.7,4,1,31,10:11 AM,09:57 PM,...,11,23,0,54,0.0,1016,9,10,326,13
4,2009-01-01 04:00:00,22,9,0.0,8.7,4,1,31,10:11 AM,09:57 PM,...,11,21,2,52,0.0,1016,9,10,318,13

In [6]:
x = df.loc[:, ['FeelsLikeC', 'humidity', 'windspeedKmph', 'visibility','pressure']]

In [7]:
x

       FeelsLikeC  humidity  windspeedKmph  visibility  pressure
0              14        50             12          10      1016
1              13        51             13          10      1016
2              12        52             13          10      1016
3              11        54             13          10      1016
4              11        52             13          10      1016
...           ...       ...            ...         ...       ...
96427          17        39              9          10      1020
96428          16        40              8          10      1021
96429          16        41              8          10      1021
96430          15        42              8          10      1021
96431          15        42              8          10      1022

[96432 rows x 5 columns]

In [8]:
y = df.loc[:, ['tempC']]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [11]:
x_train

       FeelsLikeC  humidity  windspeedKmph  visibility  pressure
3239           36        44             17          10       998
16290          26        30              9          10      1012
16638          20        71              5          10      1015
66844          32        66             14          10       997
45947          29        22             18          10      1009
...           ...       ...            ...         ...       ...
5490           35        93              5          10      1002
31047          44        35             14          10       996
18016          15        67              7          10      1014
84815          32        67              6          10      1002
17756           9        66             14          10      1015

[67502 rows x 5 columns]

In [12]:
y_train

       tempC
3239      31
16290     22
16638     19
66844     28
45947     31
...      ...
5490      28
31047     38
18016     13
84815     28
17756      8

[67502 rows x 1 columns]

In [31]:
from sklearn.linear_model import LinearRegression

In [16]:
model = LinearRegression()

In [17]:
model.fit(x_train, y_train)

LinearRegression()

In [18]:
y_predict = model.predict(x_test)

In [19]:
from sklearn.metrics import r2_score

In [25]:
score = r2_score(y_test, y_predict)

In [26]:
score

0.9502017347249144