In [1]:
import numpy as np
import pandas as pd
import ast

In [2]:
movies = pd.read_csv("datasets/tmdb_5000_movies.csv")
credits = pd.read_csv("datasets/tmdb_5000_credits.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
# merging the DataFrames
movies = movies.merge(credits, on = 'title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [8]:
# important columns for recommender system (creating tags)
# genres
# id
# keywords
# title 
# overview
# cast
# crew

movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [9]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
# missing data
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [11]:
movies.dropna(inplace = True)

In [12]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [13]:
movies.duplicated().sum()

0

In [14]:
list(movies.iloc[0].crew)

['[',
 '{',
 '"',
 'c',
 'r',
 'e',
 'd',
 'i',
 't',
 '_',
 'i',
 'd',
 '"',
 ':',
 ' ',
 '"',
 '5',
 '2',
 'f',
 'e',
 '4',
 '8',
 '0',
 '0',
 '9',
 '2',
 '5',
 '1',
 '4',
 '1',
 '6',
 'c',
 '7',
 '5',
 '0',
 'a',
 'c',
 'a',
 '2',
 '3',
 '"',
 ',',
 ' ',
 '"',
 'd',
 'e',
 'p',
 'a',
 'r',
 't',
 'm',
 'e',
 'n',
 't',
 '"',
 ':',
 ' ',
 '"',
 'E',
 'd',
 'i',
 't',
 'i',
 'n',
 'g',
 '"',
 ',',
 ' ',
 '"',
 'g',
 'e',
 'n',
 'd',
 'e',
 'r',
 '"',
 ':',
 ' ',
 '0',
 ',',
 ' ',
 '"',
 'i',
 'd',
 '"',
 ':',
 ' ',
 '1',
 '7',
 '2',
 '1',
 ',',
 ' ',
 '"',
 'j',
 'o',
 'b',
 '"',
 ':',
 ' ',
 '"',
 'E',
 'd',
 'i',
 't',
 'o',
 'r',
 '"',
 ',',
 ' ',
 '"',
 'n',
 'a',
 'm',
 'e',
 '"',
 ':',
 ' ',
 '"',
 'S',
 't',
 'e',
 'p',
 'h',
 'e',
 'n',
 ' ',
 'E',
 '.',
 ' ',
 'R',
 'i',
 'v',
 'k',
 'i',
 'n',
 '"',
 '}',
 ',',
 ' ',
 '{',
 '"',
 'c',
 'r',
 'e',
 'd',
 'i',
 't',
 '_',
 'i',
 'd',
 '"',
 ':',
 ' ',
 '"',
 '5',
 '3',
 '9',
 'c',
 '4',
 '7',
 'e',
 'c',
 'c',
 '3',
 'a',
 '3',
 '6',
 '8',
 '1',
 '0',
 'e',
 '3',
 '0',
 '0',
 '1',
 'f',
 '8',
 '7',
 '"',
 ',',
 ' ',
 '"',
 'd',
 'e',
 'p',
 'a',
 'r',
 't',
 'm',
 'e',
 'n',
 't',
 '"',
 ':',
 ' ',
 '"',
 'A',
 'r',
 't',
 '"',
 ',',
 ' ',
 '"',
 'g',
 'e',
 'n',
 'd',
 'e',
 'r',
 '"',
 ':',
 ' ',
 '2',
 ',',
 ' ',
 '"',
 'i',
 'd',
 '"',
 ':',
 ' ',
 '4',
 '9',
 '6',
 ',',
 ' ',
 '"',
 'j',
 'o',
 'b',
 '"',
 ':',
 ' ',
 '"',
 'P',
 'r',
 'o',
 'd',
 'u',
 'c',
 't',
 'i',
 'o',
 'n',
 ' ',
 'D',
 'e',
 's',
 'i',
 'g',
 'n',
 '"',
 ',',
 ' ',
 '"',
 'n',
 'a',
 'm',
 'e',
 '"',
 ':',
 ' ',
 '"',
 'R',
 'i',
 'c',
 'k',
 ' ',
 'C',
 'a',
 'r',
 't',
 'e',
 'r',
 '"',
 '}',
 ',',
 ' ',
 '{',
 '"',
 'c',
 'r',
 'e',
 'd',
 'i',
 't',
 '_',
 'i',
 'd',
 '"',
 ':',
 ' ',
 '"',
 '5',
 '4',
 '4',
 '9',
 '1',
 'c',
 '8',
 '9',
 'c',
 '3',
 'a',
 '3',
 '6',
 '8',
 '0',
 'f',
 'b',
 '4',
 '0',
 '0',
 '1',
 'c',
 'f',
 '7',
 '"',
 ',',
 ' ',
 '"',
 'd',
 'e',
 'p',
 'a',
 'r',
 't',
 'm',
 'e',
 'n',
 't',
 '"',
 ':',
 ' ',
 '"',
 'S',
 'o',
 'u',
 'n',
 'd',
 '"',
 ',',
 ' ',
 '"',
 'g',
 'e',
 'n',
 'd',
 'e',
 'r',
 '"',
 ':',
 ' ',
 '0',
 ',',
 ' ',
 '"',
 'i',
 'd',
 '"',
 ':',
 ' ',
 '9',
 '0',
 '0',
 ',',
 ' ',
 '"',
 'j',
 'o',
 'b',
 '"',
 ':',
 ' ',
 '"',
 'S',
 'o',
 'u',
 'n',
 'd',
 ' ',
 'D',
 'e',
 's',
 'i',
 'g',
 'n',
 'e',
 'r',
 '"',
 ',',
 ' ',
 '"',
 'n',
 'a',
 'm',
 'e',
 '"',
 ':',
 ' ',
 '"',
 'C',
 'h',
 'r',
 'i',
 's',
 't',
 'o',
 'p',
 'h',
 'e',
 'r',
 ' ',
 'B',
 'o',
 'y',
 'e',
 's',
 '"',
 '}',
 ',',
 ' ',
 '{',
 '"',
 'c',
 'r',
 'e',
 'd',
 'i',
 't',
 '_',
 'i',
 'd',
 '"',
 ':',
 ' ',
 '"',
 '5',
 '4',
 '4',
 '9',
 '1',
 'c',
 'b',
 '7',
 '0',
 'e',
 '0',
 'a',
 '2',
 '6',
 '7',
 '4',
 '8',
 '0',
 '0',
 '0',
 '1',
 'b',
 'd',
 '0',
 '"',
 ',',
 ' ',
 '"',
 'd',
 'e',
 'p',
 'a',
 'r',
 't',
 'm',
 'e',
 'n',
 't',
 '"',
 ':',
 ' ',
 '"',
 'S',
 'o',
 'u',
 'n',
 'd',
 '"',
 ',',
 ' ',
 '"',
 'g',
 'e',
 'n',
 'd',
 'e',
 'r',
 '"',
 ':',
 ' ',
 '0',
 ',',
 ' ',
 '"',
 'i',
 'd',
 '"',
 ':',
 ' ',
 '9',
 '0',
 '0',
 ',',
 ' ',
 '"',
 'j',
 'o',
 'b',
 '"',
 ':',
 ' ',
 '"',
 'S',
 'u',
 'p',
 'e',
 'r',
 'v',
 'i',
 's',
 'i',
 'n',
 'g',
 ' ',
 'S',
 'o',
 'u',
 'n',
 'd',
 ' ',
 'E',
 'd',
 'i',
 't',
 'o',
 'r',
 '"',
 ',',
 ' ',
 '"',
 'n',
 'a',
 'm',
 'e',
 '"',
 ':',
 ' ',
 '"',
 'C',
 'h',
 'r',
 'i',
 's',
 't',
 'o',
 'p',
 'h',
 'e',
 'r',
 ' ',
 'B',
 'o',
 'y',
 'e',
 's',
 '"',
 '}',
 ',',
 ' ',
 '{',
 '"',
 'c',
 'r',
 'e',
 'd',
 'i',
 't',
 '_',
 'i',
 'd',
 '"',
 ':',
 ' ',
 '"',
 '5',
 '3',
 '9',
 'c',
 '4',
 'a',
 '4',
 'c',
 'c',
 '3',
 'a',
 '3',
 '6',
 '8',
 '1',
 '0',
 'c',
 '9',
 '0',
 '0',
 '2',
 '1',
 '0',
 '1',
 '"',
 ',',
 ' ',
 '"',
 'd',
 'e',
 'p',
 'a',
 'r',
 't',
 'm',
 'e',
 'n',
 't',
 '"',
 ':',
 ' ',
 '"',
 'P',
 'r',
 'o',
 'd',
 'u',
 'c',
 't',
 'i',
 'o',
 'n',
 '"',
 ',',
 ' ',
 '"',
 'g',
 'e',
 'n',
 'd',
 'e',
 'r',
 '"',
 ':',
 ' ',
 '1',
 ',',
 ' ',
 '"',
 'i',
 'd',
 '"',
 ':',
 ' ',
 '1',
 '2',
 '6',
 '2',
 ',',
 ' ',
 '"',
 'j',
 'o',
 'b',
 '"',
 ':',
 ' ',
 '"',
 'C',
 'a',
 's',
 't',
 'i',
 'n',
 'g',
 '"',
 ',',
 ' ',
 '"',
 'n',
 'a',
 'm',
 'e',
 '"',
 ':',
 ' ',
 '"',
 'M',
 'a',
 'l',
 'i',
 ' ',
 'F',
 'i',
 'n',
 'n',
 '"',
 '}',
 ',',
 ' ',
 '{',
 '"',
 'c',
 'r',
 'e',
 'd',
 'i',
 't',
 '_',
 'i',
 'd',
 '"',
 ':',
 ' ',
 '"',
 '5',
 '5',
 '4',
 '4',
 'e',
 'e',
 '3',
 'b',
 '9',
 '2',
 '5',
 '1',
 '4',
 '1',
 '4',
 '9',
 '9',
 'f',
 '0',
 '0',
 '0',
 '8',
 'f',
 'c',
 '"',
 ',',
 ' ',
 '"',
 'd',
 'e',
 'p',
 'a',
 'r',
 't',
 'm',
 'e',
 'n',
 't',
 '"',
 ':',
 ' ',
 '"',
 'S',
 'o',
 'u',
 'n',
 'd',
 '"',
 ',',
 ' ',
 '"',
 'g',
 'e',
 'n',
 'd',
 'e',
 'r',
 '"',
 ':',
 ' ',
 '2',
 ',',
 ' ',
 '"',
 'i',
 'd',
 '"',
 ':',
 ' ',
 '1',
 '7',
 '2',
 '9',
 ',',
 ' ',
 '"',
 'j',
 'o',
 'b',
 '"',
 ':',
 ' ',
 '"',
 'O',
 'r',
 'i',
 'g',
 'i',
 'n',
 'a',
 'l',
 ' ',
 'M',
 'u',
 's',
 'i',
 'c',
 ' ',
 'C',
 'o',
 'm',
 'p',
 'o',
 's',
 'e',
 'r',
 '"',
 ',',
 ' ',
 '"',
 'n',
 'a',
 'm',
 'e',
 '"',
 ':',
 ' ',
 '"',
 'J',
 'a',
 'm',
 'e',
 's',
 ' ',
 'H',
 'o',
 'r',
 'n',
 'e',
 'r',
 '"',
 '}',
 ',',
 ' ',
 '{',
 '"',
 'c',
 'r',
 'e',
 'd',
 'i',
 't',
 '_',
 'i',
 'd',
 '"',
 ':',
 ' ',
 '"',
 '5',
 '2',
 'f',
 'e',
 '4',
 '8',
 '0',
 '0',
 '9',
 '2',
 '5',
 '1',
 '4',
 '1',
 '6',
 'c',
 '7',
 '5',
 '0',
 'a',
 'c',
 '9',
 'c',
 '3',
 '"',
 ',',
 ' ',
 '"',
 'd',
 'e',
 'p',
 'a',
 'r',
 't',
 'm',
 'e',
 'n',
 't',
 '"',
 ':',
 ' ',
 '"',
 'D',
 'i',
 'r',
 'e',
 'c',
 't',
 'i',
 'n',
 'g',
 '"',
 ',',
 ' ',
 '"',
 'g',
 'e',
 'n',
 'd',
 'e',
 'r',
 '"',
 ':',
 ' ',
 '2',
 ',',
 ' ',
 '"',
 'i',
 'd',
 '"',
 ':',
 ' ',
 '2',
 '7',
 '1',
 '0',
 ',',
 ' ',
 '"',
 'j',
 'o',
 'b',
 '"',
 ':',
 ' ',
 '"',
 'D',
 'i',
 'r',
 'e',
 'c',
 't',
 'o',
 'r',
 '"',
 ',',
 ' ',
 '"',
 'n',
 'a',
 'm',
 'e',
 '"',
 ':',
 ' ',
 '"',
 'J',
 'a',
 'm',
 'e',
 's',
 ' ',
 'C',
 'a',
 'm',
 'e',
 'r',
 'o',
 'n',
 '"',
 '}',
 ',',
 ' ',
 ...]

In [15]:
'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
----> ['Action', 'Adventure', 'Fantasy', 'Science Fiction']

SyntaxError: invalid syntax (3214912803.py, line 2)

In [16]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [17]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

In [18]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

In [19]:
def convert_2(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
        else:
            break
    return L

In [20]:
movies['cast'] = movies['cast'].apply(convert_2)

In [37]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [38]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [40]:
movies.head(5)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [41]:
# overview is a string by default, we are converting it to a list
movies['overview'] = movies['overview'].apply(lambda x:x.split)

In [42]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,<built-in method split of str object at 0x0000...,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,<built-in method split of str object at 0x0000...,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,<built-in method split of str object at 0x0000...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,<built-in method split of str object at 0x0000...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,<built-in method split of str object at 0x0000...,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [47]:
# we have to remove the spaces in all the columns to try to minimize ambiguity

movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ", "") for i in x])

In [48]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,<built-in method split of str object at 0x0000...,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,<built-in method split of str object at 0x0000...,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,<built-in method split of str object at 0x0000...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,<built-in method split of str object at 0x0000...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,<built-in method split of str object at 0x0000...,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [46]:
# making a single new column, where we will concatenate all the other columns 

movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

TypeError: unsupported operand type(s) for +: 'builtin_function_or_method' and 'list'